.btn {
    display: inline-flex;
    padding: 20px 40px;
    background-color: $white;
    color: $black;
    letter-spacing: 1px;
    position: relative;
    z-index: 1;
    transition: all .3s ease;
    @include shadow(darkMode);
    &:hover {
        transform: translateY(2px);
    }
}

.btn-yellow {
    background-color: $yellow !important;
    color: $secondary;
}

.lightMode {
    .btn {
        background-color: $black;
        color: $white;
        @include shadow(lightMode);
    }
    .btn-yellow {
        color: $black;
    }
}