.socials {
    position: fixed;
    bottom: 0;
    left: 0;
    // top: auto;
    // right: auto;
    padding: 30px 60px;
    z-index: 1;
    svg {
        width: 15px;
        margin-top: 10px;
    }
    @media (max-width: 992px) {
        padding: 15px;
        position: absolute;
    }
    @media (min-width: 768px) and (max-width: 1024px){
        padding: 30px 40px;
    }
}

.lightMode {
    .socials {
        svg {
            fill: $secondary;
        }
    }
}

.darkMode {
    .socials {
        svg {
            fill: $primary;
        }
    }
}